html, body{
    font-family: Helvetica, Arial, sans-serif;
}

#screen, #controls {
    margin: 1.25vw;
}

#controls {
    display: block;
}

.screenrow {
    display: flex;
    align-items: flex-start;
}

.page {
    width: .5625vw;
    height: 4.5vw;
    flex: 0 1 auto;
    background-color: #2f2f2f;
}

.pixel {
    width: .5625vw;
    height: .5625vw;
    box-sizing: border-box;
    border: .075vw solid #0f0f0f;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.on {
    background-color: #a0f9f9;
}

.off {
    background-color: #2f2f2f;
}

.pixel:hover {
    background-color: #f9a0f9;
}

h1 {
    font-family: 'Rammetto One', 'Arial Rounded', Arial, Helvetica, sans-serif;
}
